# SP-VET SIMULADOR - CONFIGURAÇÕES DE EXEMPLO
PORT=3000
NODE_ENV=production

# AOL SMTP
SMTP_HOST=smtp.aol.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=arbor.br@aol.com
SMTP_PASS=SMTP_PASS
SMTP_FROM="SP-VET Anestesia & UTI" <arbor.br@aol.com>

# Banco Asaas
ASAAS_API_URL=https://api.asaas.com/v3
ASAAS_API_KEY=sua_chave_de_api_asaas_aqui
ASAAS_WEBHOOK_TOKEN=seu_token_gerado_no_webhook_asaas
